<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/login.css">
<head>
    <link rel="shortcut icon" href="../pic/Logo laundry 03.png" type="image/x-icon">
    <title>Laundry</title>
</head>

<body>
   
    <!-- <img class="bg" src="../pic/backgound v.2.png" alt=""> -->
    <div class="bg"></div>
    
    <div class="login-box" >
        <div class="login-box-top" >
            <img class="logo-box-top" src="../pic/animation03.gif" alt="">
            <label class="title-box-top" for="">Laundry</label>
        </div>
        
        <div class="login-box-mid">
            <form class="login">
				<div class="login__field">
					<img class="login__icon" src="../pic/user icon.png" alt="">
					<input type="text" class="login__input" placeholder="User name / Email" required>
				</div>
				<div class="login__field">
					<img class="login__icon" src="../pic/3596115.png" alt="">
					<input type="password" class="login__input" placeholder="Password" required>
				</div>
				<a href="https://www.youtube.com/">forget password?</a>	<br>
                <a href="/signup">create account</a> <br>
                <a href="/about">go to about page</a>
			</form>
        </div>

        <div class="login-box-btm">
            <button class="button-login">LOGIN</button>
        </div>


    </div>
</body>
</html>